
body {
	padding: 0% 5% 0% 5%;
	margin: auto;
	max-width: 700px;
	background-color:black;
	color:#A7D129;
	font-size:150%;
}
.navbar {
	text-align:center;
}
img:hover {
	opacity: 50%;
	filter:brightness(150%);
}

h1 {
	background-color: #3E432E;
	color: black;
	text-align:center;
}

p {
	text-align:left;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

.navbar a {
  background-color: #3E432E;
  color:  black;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  background: #616F39;
}


input {
	width: 80%;
	background-color: #3E432E;
	border: 2px solid #A7D129;
	border-radius: 4px;
	font-size:150%;
}
input:hover {
	background-color: #616F39;
}

footer {
	background-color: #3E432E;
	color: black;
	text-align: center;
}
